#header {
    width: 100%;
    height: 140px;
    display: block;
    padding: 8px;
    margin: -8px;
    background-color: #12364a;
    background-size: 12px 12px;
}

#header:after {
    width: 100%;
    height: 140px;
    content: '';
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px;
    margin: -8px;
    background-image: radial-gradient(circle, transparent 0%, rgba(7, 9, 11, 0.56) 100%);
}

#header-line {
    width: 100%;
    height: 30px;
    display: block;
    padding: 8px;
    margin: -8px;
    background-color: #0c121b;
    background-size: 12px 12px;
}

.icon{
    width: 36px;
    height: 27px;
}

.lang-mng {
    margin-right: 40px;
    display: inline;
    float: right;
}

.login-mng {
    margin-right: 40px;
    display: inline;
    float: right;
}

.header-btn {
    font-family: 'trebuchet MS', 'Lucida sans', Arial, serif;
    font-size: 14px;
    color: #cacaca;
    background-color: #12364A;
    width: 90px;
    height: 25px;
    border: 0 none;
    margin: auto;
}

#logo {
    position: absolute;
}

#email_logo {
    position: absolute;
    left: 500px;
}

#phone_logo {
    position: absolute;
    left: 950px;
}